@import "tailwindcss";

@theme {
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-accent: #28a745;
  --color-background: #ffffff;
  --color-text: #212529;
  --color-muted: #f8f9fa;
}